[gtdrive]
type = drive
scope = drive
token = {"access_token":"ya29.A0ARrdaM8aMDht2voiLvf4ZLbfrpPawHDAckTX-iZhXntrDpIoCAiSU2NAxwHocAqA47JdBSSboBBOupGGoYAkypkQOIhviGBtWyzDAhjmgoBaBslnbqiLQZFOvMW2CRKbRPxeFJKATEC_ykn75_kXVukoc85wMd0","token_type":"Bearer","refresh_token":"1//0ggpv-8vy1B3ACgYIARAAGBASNwF-L9Ir0y7iCQlKA30Rwf3RdObCasdbK80CPvmTaG-27pJScilG-2CA-FMIFVx39OpGN0UbadM","expiry":"2022-04-17T10:23:57.9813085+05:30"}
team_drive = 0ADzADwKIPGeAUk9PVA
root_folder_id = 
